// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

// 2. Set your own initial variables
$dark: rgb(26, 23, 27);
$primary: rgb(44, 39, 90);
$warning: rgb(223, 174, 57);
$danger: rgb(230, 68, 97);
$success: rgb(106, 176, 35);
$info: rgb(82, 161, 212);

$family-primary: 'Raleway', sans-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
