@import "./_variables.scss";

// Bulma
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

.home-hero {
	background-image:
	linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
	url('/img/bh.jpg');
	background-size: cover;
}

.nossabh-logo {
	max-width: 180px;
}

.ics-logo {
	max-width: 130px;
}
