@import "./_variables.scss";

// Bulma
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

.home-hero {
	background-image: url('/img/header.png');
	background-size: cover;
}

.navbar-brand-primary {
	background-color: $primary !important;
	color: white !important;
	& strong {
		color: white !important;
	}
}

.navbar-brand-danger {
	background-color: $danger !important;
	color: white !important;
	& strong {
		color: white !important;
	}
}

.nossabh-logo {
	max-width: 170px
}

.ics-logo {
	max-width: 130px;
}

.has-border-ripped {
	&:before, &:after {
		content: "";
		height: 40px;
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		clip-path: polygon(0% 0%, 5%  100%, 10% 0%, 15%  100%, 20% 0%, 25% 100%, 30% 0%, 35%  100%, 40% 0%, 45%  100%, 50% 0%, 55%  100%, 60% 0%, 65%  100%, 70% 0%, 75%  100%, 80% 0%, 85%  100%, 90% 0%, 95%  100%, 100% 0%);
	}
	&:before {
		background-color: transparent;
		top: 0;
	}
	&:after {
		background-color: inherit;
		bottom: -39px;
	}

	@media (max-width: 600px) {
		:before, &:after {
			height: 20px;
		}
		&:after {
			bottom: -20px;
		}
	}
}

.has-underline-dashed-danger {
	padding: 0.5rem;
	line-height: 3rem;
	border-bottom: 2px $danger dashed;
}

.has-underline-dashed-success {
	padding: 0.5rem;
	line-height: 3rem;
	border-bottom: 2px $success dashed;
}

.has-underline-dashed-info {
	padding: 0.5rem;
	line-height: 3rem;
	border-bottom: 2px $info dashed;
}

.has-underline-dashed-primary {
	padding: 0.5rem;
	line-height: 3rem;
	border-bottom: 2px $primary dashed;
}

.has-padding-top-200 {
	padding-top: 2rem;
}

.has-padding-200 {
	padding: 2rem;
}

.has-background-striped-danger {
	background: repeating-linear-gradient(
		-45deg,
		$danger,
		$danger 3px,
		white 3px,
		white 15px
	);
}

.has-background-striped-info {
	background: repeating-linear-gradient(
		-45deg,
		$info,
		$info 3px,
		white 3px,
		white 15px
	);
}

.has-background-striped-success {
	background: repeating-linear-gradient(
		-45deg,
		$success,
		$success 3px,
		white 3px,
		white 15px
	);
}

@media (max-width: 599px) {
	#eixos-pb{
		display: none;
	}
}

@media (min-width: 600px) {
	#eixos-cor, #eixos:hover #eixos-pb{
		transition: opacity .25s ease-in-out;
		opacity: 0;
		display: none;
	}
	#eixos-pb, #eixos:hover #eixos-cor{
		transition: opacity .25s ease-in-out;
		opacity: 1;
		display: block;
	}
}

.grafico-indicadores {
	max-height: 400px;
	margin: 0 auto;
}

img.grafismo {
	width: 90%;
}

img.is-rotated-180 {
	transform: rotate(180deg);
}

.has-margin-top-50 {
	margin-top: 0.5rem !important;
}

.has-margin-top-100 {
	margin-top: 1rem !important;
}

.has-margin-bottom-100 {
	margin-bottom: 1rem !important;
}

.has-margin-auto {
	margin-left: auto;
	margin-right: auto;
}

img.ficha {
	width: 80%;
}

.is-bordered-danger {
	border: 2px solid $danger !important;
	box-shadow: none;

	& div.item-title {
		font-weight: bold;
		color: $danger;
	}
}

.is-bordered-info {
	border: 2px solid $info !important;
	box-shadow: none;

	& div.item-title {
		font-weight: bold;
		color: $info;
	}
}

.is-bordered-success {
	border: 2px solid $success !important;
	box-shadow: none;

	& div.item-title {
		font-weight: bold;
		color: $success;
	}
}

.is-bordered-warning {
	border: 2px solid $warning !important;
	box-shadow: none;

	& div.item-title {
		font-weight: bold;
		color: $warning;
	}
}

.topo-home {
	height: 68vw;
}

.titulo-home {
	z-index: 1;
	font-size: 2em;
	font-weight: bolder;
	color: white;
	position: absolute;
	top: calc(34vw - 150px + 52px);
	left: calc(50% - 150px);
	width: 300px;
	height: 300px;
	background-color: rgba(82, 161, 212, 0.8);
	border-radius: 50%;
}

@media (max-width: 768px) {
	.titulo-home {
		font-size: 1.5em;
		width: 200px;
		height: 200px;
		top: calc(34vw - 100px + 52px);
		left: calc(50% - 100px);
	}
}

.titulo-home span {
	position: relative;
	top: 30%;
	transform: translateY(-50%);
}

.share-icon {
	padding-right: 8px;
	padding-left: 8px;
}

.top-image {
	width: 100%;
}

/* Tooltip styles */

.tippy-tooltip.success-theme {
  background-color: $success;
  padding: 1em;
  opacity: 1;
  color: white;
}

.tippy-tooltip.success-theme .tippy-backdrop {
  background-color: $success;
  opacity: 1;
}

.tippy-tooltip.warning-theme {
  background-color: $warning;
  padding: 1em;
  opacity: 1;
  color: white;
}

.tippy-tooltip.warning-theme .tippy-backdrop {
  background-color: $warning;
  opacity: 1;
}

.tippy-tooltip.danger-theme {
  background-color: $danger;
  padding: 1em;
  opacity: 1;
  color: white;
}

.tippy-tooltip.danger-theme .tippy-backdrop {
  background-color: $danger;
  opacity: 1;
}

.tooltip-content {
	color: white;
	text-align: left;
}

.tooltip-content ul {
	list-style-type: none;
	margin-left: 1em;
	& li:before {
		padding-right: 8px;
		content: '>';
	}
}

.indicator-control {
	& .header {
		padding: 1.25rem 1.25rem 0.5rem;

		& .title {
			margin-bottom: 0.5rem;
		}
	}

	& .body {
		height: 250px;
		overflow-y: auto;
		padding: 0.5rem 1.25rem;

		& .item {
			margin: 0.5rem 0;
		}
	}
}

// Indicators

.steps {
	display: flex;
	align-items: center;
	padding: 0.5rem 0;

	& .step-number {
		width: 50px;
		height: 50px;
		flex-grow: 0;
		flex-shrink: 0;
		background-color: $grey-light;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
		font-weight: bolder;
		color: $white;
		margin-right: 0.5rem;
	}
}

// Charts

.section.chart {
	& img {
		max-width: 800px;
	}

	& .buttons {
		justify-content: center;
	}
}

// Notícias

.post {
	padding: 3rem 0;

	&:first-of-type {
		padding-top: 0;
	}

	&:not(:last-of-type) {
		border-bottom: 1px solid $grey-lighter;
	}

	& .category {
		@extend .is-size-7;

		text-align: center;
	}

	& h2.title {
		margin: 0.5rem 0 1rem;
	}

	& .date {
		@extend .is-size-7;

		text-align: center;
		margin-bottom: 1.5rem;
	}

	.post-image {
		margin-bottom: 2rem;
	}

	& figure {
		margin: 0;
	}

	& .read-more {
		margin-top: 2rem;
	}
}

ul.pagination {
	display: flex;
	justify-content: center;
	align-items: center;

	& li {
		margin: 0 0.5rem;
	}
}

.field-message {
	display: none;
}
